<mat-toolbar>
  <button (click)="openMovieAddDialog()" mat-raised-button style="margin-left: 10px">Add New</button>
  <button (click)="drawer.toggle()" mat-mini-fab color="accent" id="searchButton">
    <mat-icon>search</mat-icon>
  </button>
</mat-toolbar>


<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" position="end" mode="side">
    <mat-form-field class="full-width">
      <input type="text" (keyup)="filterMovies(genre)" [(ngModel)]="searchString" matInput placeholder="Search">
    </mat-form-field>

    <h4>Filter Genre</h4>

    <mat-selection-list (selectionChange)="filterMovies(genre)" #genre>
      <mat-list-option *ngFor="let genre of genres" value="{{genre._id}}">
        {{genre.name}}
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>

  <div class="container-fluid">
    <mat-card class="movie" *ngFor="let movie of movies">
      <img class="img-responsive img-rounded movie-image" src="../../../assets/default-placeholder.png">
      <div class="movie-info">
        <mat-card-title>{{movie.title}}</mat-card-title>
        <mat-card-subtitle class="genres"><span *ngFor="let genre of movie.genres; last as lastItem">{{genre.name}}{{!lastItem?",":""}}</span></mat-card-subtitle>
        <mat-card-content>
          <p>In Stock: <span>{{movie.numberInStock}}</span></p>
          <p>Daily Rental Rate: <span>{{movie.dailyRentalRate}}</span></p>
        </mat-card-content>
        <mat-card-actions class="movie-actions">
          <button *ngIf="movie.numberInStock && !movie.onCart" (click)="addToCart(movie)" mat-icon-button> <mat-icon>shopping_basket</mat-icon> </button>
          <button (click)="openMovieEditDialog(movie)" mat-raised-button class="btn-info">Edit</button>
          <button (click)="deleteMovie(movie)" mat-raised-button class="btn-danger">Delete</button>
        </mat-card-actions>
      </div>
    </mat-card>

  </div>

</mat-drawer-container>